/* 전체 달력 박스 */
.react-datepicker {
  border: none !important;
  width: 100%;
  font-family: inherit;
}

/* 헤더 (2026년 4월) */
.react-datepicker__header {
  background: transparent;
  border-bottom: none !important;
  background-color: unset !important;
  padding: 0;
}

/* 월 텍스트 */
.react-datepicker__current-month {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 16px;
}

/* 요일 */
.react-datepicker__day-name {
  color: #9ca3af;
  font-size: 14px;
  width: 36px;
}

/* 날짜 */
.react-datepicker__day {
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin: 6px;
  font-size: 16px;
  color: #4b5563;
  border-radius: 9999px;
}

/* 오늘 날짜 (13처럼) */
.react-datepicker__day--today {
  color: #009632 !important;
  font-weight: 400 !important;
}


.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker {
  width: 100% !important;
}




/* 날짜 줄 */
.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
  justify-content: center;
  gap: 8px;
}

/* 날짜 하나하나 (🔥 핵심) */
.react-datepicker__day,
.react-datepicker__day-name {
  width: 36px !important;
  height: 36px !important;
  margin: 0 !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* 선택된 날짜 */
.react-datepicker__day--selected {
  background-color: #4caf50 !important;
  color: white !important;
  border-radius: 50% !important;
}

.react-datepicker__week {
  margin-bottom: 10px;
}

.react-datepicker__day--keyboard-selected {
  background-color: unset !important;
  font-weight: 400 !important;
}